.toolbar {
    align-items: center;
    background-color: var(--theme-color-background);
    box-sizing: border-box;
    color: var(--theme-color-text);
    display: flex;
    min-height: calc(var(--theme-spacing) * 8);
    padding: 0 calc(var(--theme-spacing) * 2);
    position: absolute;
    right: 0;
    z-index: 1;

    & .input {
        min-width: 10rem;
    }

    & .input input,
    & .input textarea,
    & .input :global(.MuiInput-root),
    & .input :global(.MuiInput-input) {
        color: inherit;
    }
}

.input {
    flex: 1 1 auto;
    min-width: 0;
    width: calc(var(--theme-spacing) * 32);
}

@media (max-width: 599px) {
    .toolbar {
        background-color: var(--theme-color-primary);
        bottom: 0;
        color: var(--theme-color-primary-alt);
        left: 0;
        min-height: calc(var(--theme-spacing) * 7);
        padding-right: var(--theme-spacing);
        top: 0;
    }

    .input {
        width: 100%;
    }
}
