.button {
    && {
        background-color: var(--theme-color-paper);
        color: var(--theme-color-secondary);
        cursor: pointer;
        justify-content: flex-start;
        margin-bottom: calc(var(--theme-spacing) * 1.5);
        width: 100%;
    }

    &:hover {
        background-color: rgb(0 0 0 / 5%);
    }

    &:focus-visible {
        outline: 2px solid var(--theme-color-highlight);
        outline-offset: -2px;
    }
}
