.userName {
    color: var(--theme-color-highlight);
    font-weight: bolder;
    letter-spacing: var(--theme-letter-spacing);
    margin-right: calc(var(--theme-spacing) * .5);
    min-width: 0;
    overflow-wrap: anywhere;
    text-decoration: none;
}
