:root {
    --theme-color-primary: #3f51b5;
    --theme-color-secondary: rgba(0, 0, 0, 0.54);
    --theme-color-paper: #ffffff;
    --theme-color-background: #efefef;
    --theme-color-text: #101010;
}
