.root {
    align-items: center;
    background-color: var(--theme-header-menu-background-color);
    color: var(--theme-header-menu-color);
    display: flex;
}

.sectionButton {
    color: inherit;
    text-decoration: none;
}

.languageChange {
    --select-color: inherit;
    --select-size: inherit;

    box-shadow: none;
    padding: 0 calc(var(--theme-spacing));
    text-transform: capitalize;
}

.profileLink {
    color: inherit;
    margin: calc(var(--theme-spacing) / 2);
    text-decoration: none;
}
