.root {
    --theme-color-paper: #ffffff;
    --theme-color-paper-alt: #101010;
    --theme-color-background: #efefef;
    --theme-color-background-alt: #101010;
    --theme-color-text: #101010;
    --theme-color-muted: #888888;
    --theme-color-primary-alt: #ffffff;
    --theme-color-secondary-alt: #ffffff;
    --theme-color-highlight-alt: #ffffff;
}
