.root {
    --main-content-inline-padding: var(--theme-spacing);
    --main-content-spacing: var(--theme-spacing);

    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
    width: 100%;
}
