.text {
    overflow-wrap: break-word;
    text-decoration: none;
    word-wrap: break-word;

    &:empty {
        height: calc(var(--theme-spacing) * 0.5);
    }
}

.link {
    color: var(--theme-color-highlight);
    text-decoration: none;
}
