.item {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    padding: var(--theme-spacing) 0;
    width: 100%;
}

.card {
    background-color: var(--theme-color-paper);
    border-radius: calc(var(--theme-spacing) / 2);
    box-shadow: var(--theme-card-shadow);
    flex: 1 1 auto;
    min-width: 0;
}

.header {
    padding: calc(var(--theme-spacing) * 2);
}

.subheader {
    color: var(--theme-color-secondary);
    font-size: var(--theme-font-size-regular);
    font-weight: 400;
    line-height: 1.43;
}
