.card {
    background-color: var(--theme-color-paper);
    border-radius: 0.25rem;
    border-width: 0;
    box-shadow: var(--theme-card-shadow);
    font-size: 0.875rem;
    letter-spacing: var(--theme-letter-spacing);
    margin-bottom: calc(var(--theme-spacing) * 1.5);
    overflow: initial;
    position: relative;
    transition: 1s ease background-color;
    width: 100%;
}

.card,
.replyContent {

    & .avatar,
    & .avatarSmall,
    & .avatarSmallest {
        color: lightgray;
        text-decoration: none;
    }

    & .avatar {
        box-sizing: border-box;
        height: calc(var(--theme-spacing) * 7);
        width: calc(var(--theme-spacing) * 7);
    }

    & .avatarSmall {
        font-size: 1rem;
        height: calc(var(--theme-spacing) * 5);
        width: calc(var(--theme-spacing) * 5);
    }

    & .avatarSmallest {
        font-size: 0.8rem;
        height: calc(var(--theme-spacing) * 3);
        width: calc(var(--theme-spacing) * 3);
    }
}

.cardBordered {
    border: 1px solid rgb(0 0 0 / 25%);
    box-shadow: none;
    margin-bottom: calc(var(--theme-spacing) * .5);
}

.cardCloud {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: var(--theme-spacing);
}

.cardCloud .cardHeader {
    padding: 0;
}

.cardCloud .cardContent {
    background-color: var(--theme-color-paper);
    border-radius: calc(var(--theme-spacing) * 2);
    padding: var(--theme-spacing) calc(var(--theme-spacing) * 2);
    transition: 2s ease background-color;
}

.cardCloud .cardBody {
    padding: var(--theme-spacing) 0;
}

.cardCloud .cardActions {
    margin-right: calc(var(--theme-spacing) * -.5);
}

.cardCloud .date {
    right: calc(var(--theme-spacing) * 2.5);
}

.cardCloud.cardHighlighted .cardContent {
    background-color: #b5b5b5;
}

.cardFlat {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 2px;
}

.cardTransparent {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: var(--theme-spacing);
}

.cardTransparent .cardHeader {
    padding: 0;
}

.cardHighlighted {
}

.cardHeader {
    align-items: flex-start;
}

.cardHeaderWithLabel {
    align-items: center;
    white-space: pre-wrap;
}

.cardHeader .cardContent {
    overflow: auto;
}

.cardSubheader {
    color: var(--theme-color-text);
}

.cardImage {
    flex: 1;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: left;
    overflow: auto;
    position: relative;
    width: auto;
}

.cardMenuButton {
    && {
        position: absolute;
        right: calc(var(--theme-spacing) * .5);
        top: calc(var(--theme-spacing) * .5);
    }
}

.cardTitle {
}

.cardActions {
    display: flex;
}

.cardActions :global(.MuiSvgIcon-root) {
    align-items: center;
    display: inline-flex;
    font-size: calc(var(--theme-spacing) * 2.5);
    height: calc(var(--theme-spacing) * 2.5);
    justify-content: center;
    line-height: 1;
    width: calc(var(--theme-spacing) * 2.5);
}

.cardBody {
    padding: calc(var(--theme-spacing) * 2);
}

.date {
    color: var(--theme-color-muted);
    margin-right: calc(var(--theme-spacing) * .5);
}

.icon {
    height: calc(var(--theme-spacing) * 3);
}

.iconSmall {
    height: calc(var(--theme-spacing) * 2);
}

.wrapper {
    flex: 0 0 auto;
}

.inline {
    display: inline;
    letter-spacing: var(--theme-letter-spacing);
}

.inline > .layout {
    display: inline;
}

.singleline .cardContent {
    overflow: hidden;
    text-overflow: ellipsis;
}

.singleline .textSmall {
    display: inline;
    white-space: nowrap;
}

.replyContent {
    flex: 1 1 auto;
    min-width: 0;
}

.userName {
    color: var(--theme-color-highlight);
    font-weight: bolder;
    letter-spacing: var(--theme-letter-spacing);
    margin-right: calc(var(--theme-spacing) * .5);
    text-decoration: none;
}

.textSmall {
    display: inline-block;
    font-size: 90%;
}

.layout {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
}

.layoutGrow {
    flex: 1 1 auto;
}

.cardHeader {
    display: flex;
    gap: calc(var(--theme-spacing) * 2);
    padding: calc(var(--theme-spacing) * 2);
}

.cardHeaderWithLabel {
    align-items: center;
}

.cardContent {
    flex: 1 1 auto;
    min-width: 0;
}

.cardHeader .cardTitle {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.cardHeader .cardTitle > .layout {
    display: inline-block;
}

.wrapper {
    display: block;
    width: 100%;
}

.menu {
    background-color: var(--theme-color-paper);
    box-shadow: var(--theme-card-shadow);
    min-width: calc(var(--theme-spacing) * 18);
    position: absolute;
    right: calc(var(--theme-spacing) * .5);
    top: calc(var(--theme-spacing) * 4);
    z-index: 10;
}

.menuItem {
    cursor: pointer;
    display: block;
    padding: calc(var(--theme-spacing) * 1.25) calc(var(--theme-spacing) * 2);
    white-space: nowrap;
}

.collapse {
    overflow: hidden;
}

@media (max-width: 599px) {
    .card {
        margin-bottom: calc(var(--theme-spacing) * 1.5);
    }

    .cardBordered {
        left: calc(var(--theme-spacing) * -.5);
        width: calc(100% + var(--theme-spacing));
    }

    .cardCloud .cardActions {
        margin-left: calc(var(--theme-spacing) * -1);
        margin-right: 0;
        padding: 0;
    }

    .cardCloud .date {
        bottom: calc(var(--theme-spacing) * 1.5);
        position: absolute;
        right: calc(var(--theme-spacing) * 2.5);
    }

    .cardActions {
        padding: var(--theme-spacing);
        padding-bottom: calc(var(--theme-spacing) * .5);
        padding-left: var(--theme-spacing);
        padding-top: var(--theme-spacing);
    }

    .cardBody {
        padding-bottom: var(--theme-spacing);
        padding-top: 0;
    }

    .cardHeader .cardTitle {
        margin-right: calc(var(--theme-spacing) * 3);
    }

    .cardHeader :global(.MuiSvgIcon-root), .cardActions :global(.MuiSvgIcon-root) {
        height: calc(var(--theme-spacing) * 2.5);
    }

    .cardMenuButton {
        margin-top: calc(var(--theme-spacing) * -1);
        right: calc(var(--theme-spacing) * .5);
        top: auto;
    }

    .cardTitle {
        color: var(--theme-color-secondary);
        font-size: 95%;
    }

    .cardTitle .userName, .cardTitle :global(.Mention-tag-label) {
        font-size: 110%;
    }

    .date {
        font-size: calc(var(--theme-spacing) * 1.5);
    }

    .icon {
        height: calc(var(--theme-spacing) * 2.5);
    }

}

@media (min-width: 960px) {
    .card :global(.MuiSvgIcon-root), .cardActions :global(.MuiSvgIcon-root) {
        height: calc(var(--theme-spacing) * 2.5);
    }

    .cardImage {
        margin-top: var(--theme-spacing);
    }

    .cardBody {
        padding-bottom: var(--theme-spacing);
        padding-left: 0;
        padding-right: 0;
        padding-top: var(--theme-spacing);
    }

    .cardActions {
        justify-content: flex-end;
    }

    .date {
        font-size: inherit;
    }

    .cardActionsSmall :global(.MuiSvgIcon-root) {
        height: calc(var(--theme-spacing) * 2);
    }
}
