.chip {
    && {
        background-color: var(--theme-color-paper);
        border-radius: calc(var(--theme-spacing) * 2);
        box-shadow: var(--theme-card-shadow);
        color: var(--theme-color-text);
        font: inherit;
        margin: 0;
    }

    & :global(.MuiChip-label) {
        overflow: hidden;
        padding-left: var(--theme-spacing);
        padding-right: var(--theme-spacing);
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & :global(.MuiChip-avatar) {
        height: calc(var(--theme-spacing) * 3);
        margin-left: var(--theme-spacing);
        width: calc(var(--theme-spacing) * 3);
    }

    & :global(.MuiChip-icon) {
        color: inherit;
        height: calc(var(--theme-spacing) * 2.5);
        margin-left: var(--theme-spacing);
        margin-right: 0;
        width: calc(var(--theme-spacing) * 2.5);
    }

    & :global(.MuiChip-deleteIcon) {
        color: inherit;
        margin-right: var(--theme-spacing);
    }

    &:hover {
        box-shadow: var(--theme-card-shadow);
    }

    &:global(.MuiChip-colorSecondary) {
        background-color: var(--theme-color-secondary);
        color: var(--theme-color-paper);

        & :global(.MuiChip-deleteIcon),
        & :global(.MuiChip-icon) {
            color: inherit;
        }
    }

}
