.select {
    && {
        color: inherit;
        font: inherit;
        min-width: calc(var(--theme-spacing) * 4.5);
    }

    && :global(.MuiSelect-select) {
        box-sizing: border-box;
        height: calc(var(--theme-spacing) * 4);
        padding: calc(var(--theme-spacing) * 0.75);
        padding-left: 0;
        padding-right: calc(var(--theme-spacing) * 4);
    }

    & :global(.MuiSelect-icon) {
        color: inherit;
        right: var(--theme-spacing);
    }

    & :global(.MuiInput-underline:before) {
        border-bottom-color: rgb(0 0 0 / 24%);
    }

    & :global(.MuiInput-underline:hover:not(.Mui-disabled):before) {
        border-bottom-color: var(--theme-color-highlight);
    }

    & :global(.MuiInput-underline:after) {
        border-bottom-color: var(--theme-color-highlight);
    }
}

.iconMenu {
    && {
        height: calc(var(--theme-spacing) * 4.5);
        width: calc(var(--theme-spacing) * 4.5);
    }

    &&&&:after,
    &&&&:before {
        border-width: 0;
    }

    &:hover {
        background-color: var(--theme-color-background);
    }

    && :global(.MuiSelect-select) {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0;

        &:focus {
            background-color: inherit;
        }
    }

    & :global(.MuiSelect-icon),
    & :global(.MuiInput-underline:before),
    & :global(.MuiInput-underline:after),
    & :global(.MuiInput-underline:hover:not(.Mui-disabled):before) {
        display: none;
    }
}


.menu {
    background-color: var(--theme-color-paper);
    color: var(--theme-color-text);
    margin-top: var(--theme-spacing);
    min-width: calc(var(--theme-spacing) * 18);
}

.menu :global(.MuiMenuItem-root) {
    color: var(--theme-color-text);
    font: inherit;
    min-height: calc(var(--theme-spacing) * 5);
    padding: var(--theme-spacing) calc(var(--theme-spacing) * 1.5);
}

.menu :global(.MuiMenuItem-root:hover) {
    background-color: rgb(63 81 181 / 10%);
}

.menu :global(.MuiMenuItem-root.Mui-selected) {
    background-color: rgb(63 81 181 / 16%);
}

.menu :global(.MuiMenuItem-root.Mui-selected:hover) {
    background-color: rgb(63 81 181 / 24%);
}

.menuList {
    background-color: var(--theme-color-paper);
    padding: var(--theme-spacing) 0;
}

.menuItem {
    color: var(--theme-color-text);
    font: inherit;
    line-height: 1.5;
    padding: var(--theme-spacing) calc(var(--theme-spacing) * 1.5);

    &:hover {
        background-color: rgb(63 81 181 / 10%);
    }

    & :global(.Mui-selected),
    &:global(.Mui-selected) {
        background-color: rgb(63 81 181 / 16%);
    }

    &:global(.Mui-selected:hover) {
        background-color: rgb(63 81 181 / 24%);
    }
}

@media (max-width: 599px) {

}
