.placeholder {
    flex: 0 0 calc(var(--theme-spacing) * 5);
    height: calc(var(--theme-spacing) * 5);
    pointer-events: none;
}

.toolbar {
    align-items: stretch;
    background-color: var(--theme-color-paper);
    bottom: 0;
    display: flex;
    height: calc(var(--theme-spacing) * 5);
    left: 0;
    position: fixed;
    right: 0;
    z-index: 2;
}

.action {
    border-radius: 0;
    flex: 1 1 0;
    height: 100%;
    min-height: 100%;
}

.positionPending {
    visibility: hidden;
}

.menuItem {
    align-items: center;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-transform: none;
    width: 100%;

    &.selectedItem {
        background-color: var(--theme-color-focus);
    }
}
