{
    "env": {
        "jest": true
    },
    "rules": {
        "comma-dangle": [
            0
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "object-curly-spacing": [
            1
        ],
        "operator-linebreak": [
            1
        ],
        "quotes": [
            "error",
            "double"
        ],
        "react/jsx-closing-bracket-location": [
            1
        ],
        "react/jsx-closing-tag-location": [
            1
        ],
        "react/jsx-curly-brace-presence": [
            1
        ],
        "react/jsx-indent-props": [
            1,
            4
        ],
        "react/jsx-indent": [
            1,
            4
        ],
        "react/jsx-tag-spacing": [
            0
        ],
        "semi": [
            0
        ]
    }
}
